*{
    padding: 0;
    margin: 0;
}
/*
@font-face{
    font-family: Noe Display;
    src: url(./fonts/NoeDisplayBold.ttf);
} */
body{
    background-color: #f1f1f1;
    
}

h1,h2,h3,h4,h5,h6 {font-family: Roboto, Arial, sans-serif}

header #logoheader{
    width:90%;
    max-width:90px;
}

header #logoheader2{
    width:80%;
    max-width:110px;
    margin-top: 3px;
    margin-bottom: 5px;
}
.header a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
  background-color: font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;;
  color: white;
}

.header .search-container {
    
    
}


.header input[type=text] {
    padding: 3px;
    font-size: 17px;
    border: none;
    border-radius: 9px 0px 0px 9px;
}

.header .search-container button {
    color: white;
    float: right;
    padding: 3px 10px;
    margin-right: 16px;
    background: #2ca05a;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 0px 9px 9px 0px;
    
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media only screen and (max-width: 418px) {
            .search-container{
                display: none;
            }
        }